# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://svuqhdjwyxfwuldxfipt.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_KmAHthGDvOGF8ZQWQt2woA_CWhsjEpC

# Groq AI (Llama 3.3 70B fast intelligence scraper)
GROQ_API_KEY=gsk_your_groq_api_key_here
